.deposits_body {
  display: flex;
  border: 1px solid;
  margin-top: 32px;
  height: auto;
  background: linear-gradient(45deg, #ff4d4d, #ffb366);

  justify-content: space-between;
  padding: 24px;
}
