.deposits_body {
  display: flex;
  border: 1px solid;
  margin-top: 32px;
  height: auto;
  background: #e6ffff;

  justify-content: space-between;
  padding: 24px;
}

.map_valid {
  text-align: center;
}
