.map_container_deposits {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#map2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.index_left {
  width: 100%;
  margin-left: 4px;
}
