$carousel-width: 210px;
$carousel-height: 140px;
$figure-width: 186px;
$figure-height: 116px;
$z: 288px;
.carous_container {
  width: $carousel-width;
  height: $carousel-height;
  position: relative;
  perspective: 1000px;
  padding: 100px 0 0 0;
  margin: auto;


  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    figure {
      margin: 0;
      display: block;
      position: absolute;
      width: $figure-width;
      height: $figure-height;
      left: 10px;
      top: 10px;
      border-radius: 20px;
      text-align: center;
      line-height: $figure-height;
      color: #fff;
      font-size: 2rem;
      justify-content: center;

      @for $i from 0 through 8 {
        $hu: $i * 40;
        &:nth-of-type(#{$i + 1}) {
          transform: rotateY(#{$i * 40}deg) translateZ($z);
          // background-color: hsla($hu, 100%, 50%, 0.6);
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
button.btn-carousel {
  width: 100px;
  height: 50px;
  position: absolute;
  left: -100px;
  bottom: -250px;
  border: 2px solid blue;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  color: darkorange;
  outline: none;
  &:nth-of-type(2) {
    left: 100%;
  }
}

.carousel_container {
  height: 400px;
  margin-bottom: 20px;
}




// :root {
  //   --width: 250px;
  // }

  // * {
    //   margin: 0;
    //   padding: 0;
    //   box-sizing: border-box;
    // }

    // // body {
      // //   height: 100vh;
      // //   display: grid;
      // //   place-items: center;
      // // }

      // .cards {
        //   display: flex;
        //   gap: 1.5rem;
        //   place-items: center;
        //   height: 75vh;
        //   justify-content: center;
        // }

        // .card {
          //   position: relative;
          //   width: 100px;
          //   height: 350px;
          //   border-radius: 1rem;
          //   overflow: hidden;
          //   box-shadow: 0 3px 15px rgba(0,0,0,0.3);
          //   transition: width 0.5s ease-out;


          //   &:hover {
            //     width: var(--width);
            //   }

            //   &:hover .card-container h2 {
              //     transform: rotate(0);
              //   }

              //   &:hover .card-container p  {
                //     opacity: 1;
                //     transform: translateY(0);
                //     transition: transform 1s, opacity 0.5s linear 0.3s;
                //   }

                //   &:hover::before {
                  //     transform: scale(1.3);
                  //   }

                  //   &::before {
                    //     content: '';
                    //     position: absolute;
                    //     z-index: -1;
                    //     width: 250px;
                    //     height: 350px;
                    //     background-size: cover;
                    //     background-position: center;
                    //     transform: scale(1);
                    //     transition: transform 0.5s ease-in;
                    //   }

                    //   &:nth-of-type(1):before { background-image: url(''); }
                    //   &:nth-of-type(3):before { background-image: url(''); }

                    //   & .card-container {
                      //     position: absolute;
                      //     left: 50%;
                      //     bottom: 15%;
                      //     transform: translateX(-50%);
                      //     text-align: center;
                      //     font: 900 1rem helvetica,sans-serif;
                      //     color: rgb(26, 5, 5);

                      //     & h2 {
                        //       font-size: 1.1rem;
                        //       letter-spacing: -1px;
                        //       text-transform: uppercase;
                        //       transform: rotate(90deg);
                        //       transition: transform 0.5s;
                        //     }

                        //     & p {
                          //       position: relative;
                          //       width: var(--width);
                          //       font-size: 0.75rem;
                          //       font-weight: 100;
                          //       line-height: 1.6;
                          //       color: rgba(0, 0, 0, 0.75);
                          //       margin-top: 0.5rem;
                          //       padding: 0 1.2rem;
                          //       transform: translateY(2rem);
                          //       opacity: 0;
                          //     }
                          //   }
                          // }
