.concept_coupon_info {
  border: 1px solid;
  border-radius: 16px;
}

#concept {
  margin-bottom: 8px;
  width: auto;
  height:300px;
  text-align: center;
  padding: 40px;
}

#coupon {
  margin-top: 8px;
  width: auto;
  height:150px;
  text-align: center;
  padding: 40px;
}
