.info_container_left {

  display: flex;
  flex-direction: column;
  // border: 1px solid;
  justify-content:space-between ;
  // padding-left: 10%;
  align-items: center;
  height: 110vh;
}

.info_container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
