.ticket {
  background: linear-gradient(45deg, #b30000, #e68a00);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif !important;
  -webkit-mask-image: radial-gradient(circle at 29px 50%, transparent 29px, red 29.5px);
  -webkit-mask-position: -29px;

}

.header {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.coupon {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}
