.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #ff4d4d, #ffb366);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-img {
  width: 80px;
  // border-radius: 51% 49% 56% 44% / 29% 37% 63% 71%;
  border: 2px solid black;
}

.navbar-title {
  font-size: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}


