
<div class ="homepage_body">

  <div class="info_container col-6">

    <div class='cards'>
      <div class='card'>
        <div class='card-container'>
          <h2>Scifi</h2>
          <p>sensations occurring in a person's mind during sleep</p>
        </div>
      </div>
      <div class='card'>
        <div class='card-container'>
          <h2>Mystery</h2>
          <p>A feeling or state of intense excitement and happiness</p>
        </div>
      </div>
      <div class='card'>
        <div class='card-container'>
          <h2>Thriller</h2>
          <p>pleases the aesthetic senses especially the sight</p>
        </div>
      </div>
    </div>

    <div class="map_container">
      <p>inserer map</p>
    </div>

  </div>

  <div class="info_container col-6">

    <div class="concept_coupon_info" id="concept">
      <h2>Notre concept</h2>
      <p>Nous vous proposons d'échanger des produits dont vous n'avez plus l'utiliter contre des bons, utilisable chez nous ou bien dans vos
        enseigne favorite</p>
    </div>

    <div class="concept_coupon_info" id="coupon">
      <p>Qu'est ce que les coupons ?</p>
    </div>


  </div>

  <div id="mySidenav" class="sidenav">
    <p id="achat"> 🛒 - Achat</p>
    <p href="" id="depot"> 📦 - Dépôt</p>
  </div>
</div>
