.users_body {
  display: flex;
  border: 1px solid;
  margin-top: 32px;
  height: auto;

  justify-content: space-between;
  padding: 24px;
    &h2 {
      text-align: center;
    }
}

.donnees {
  padding: 40px;
  margin-right: 50px;
  height: max-content;
  width: max-content;
  border-radius: 8px;
  border: 2px solid;
  border-color: black;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  background-color: rgb(224, 222, 222);
  margin: auto;
}

.p-4 {
  margin: auto;
  text-align: center;
}


.user_left {
  border-right: 2px solid;
  border-color: black;
  padding: 20px;
  width:50%;
}

.user_right {
  border-left: 2px solid;
  border-color: black;
  padding: 20px;
  width:50%;
}

.dep_cards {
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid;
  border-color: black;
  text-align: center;
}
